.body{
    background-image: url('https://wallpapercave.com/wp/wp4923981.jpg');
    background-size: cover;
    background-position: center;
   
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;


}
.main{
    background-color: hsla(220, 13%, 18%, 0.966);
    display: flex;
    flex-direction: column;
    gap: 1.563rem;
    max-width: 25rem;
    
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.header__profesional-image-container{
    /* max-width: 300px; */
    margin: auto;
    display: flex;
    max-width: 15.625rem;
}

.header__profesional-image{
    width: 100%;
    border-radius: 50%;
}  
.article{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.article__title,
.article__keywors,
.article__presetation{
    font-weight: 350;
    letter-spacing: 0.188;
    margin: 0;


}
.article__title{
    font-size: 2rem;
}
.skills{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.skills__title{ 
    font-size: 1.125 rem;
    letter-spacing: 2px;
    margin: 0;
    
}
.article__presetation{
    font-size: 0.75rem;
}
.skills__skills-list{
   
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.skills__skill{
    background-color: #0890b6;
    list-style: none;
    padding: 8px;
    border-radius: 8px;
    transition: all 0.5s;

}
.skills__skill:hover{
    transition: all 0.5s;
    transform: scale(1.2);
}
.footer{
   
    display: flex;
    gap: 1.25rem;
    justify-content: center;
   
}

.footer__link-icon-container{
    text-decoration: none;
    font-size: 1.875rem;
    color: white;
    transition: all 0.5s;
   
      
}
.footer__link-icon-container:hover{
    transition: all 0.5s;
    transform: scale(1.5);
}



